
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);  
	-o-tap-highlight-color: rgba(0, 0, 0, 0);  
	-ms-tap-highlight-color: rgba(0, 0, 0, 0); 
}
#chrisnomagicstep {
	position: relative;
	margin: 0 auto;
}

body {
	margin: 0 auto;
}
